@import "../../style/colors.scss";

.tags-container {
  margin-top: 24px;
  margin-bottom: 41px;

  .tags-header {
    color: $black;
    font-family: Cormorant Garamond;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: -0.22px;
    margin-bottom: 13px;
  }

  .tags {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
