@import "../../style/colors.scss";

.social-media-button {
  width: 220px;
  display: flex;
  height: 40px;
  justify-content: space-around;
  align-items: center;
  flex-shrink: 0;
  border-radius: 13px;
  margin-bottom: 16px;
  border: 3px solid $ribonPink;

  img {
    width: 17.5px;
    height: 17.5px;
  }
  span {
    text-decoration: none;
    color: $black;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}
