@import "../../style/colors.scss";

.product-image {
  width: 140px;
  height: 186.667px;
  background: lightgray 50% / cover no-repeat;
}

.image-title {
  color: $black;
  font-family: Cormorant Garamond;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.143px;
}

.product-price {
  color: $black;
  font-family: Cormorant Garamond;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.176px;
}
