@import "../../style/colors.scss";

.contact {
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 48.72px;

  .header {
    color: $black;
    text-align: center;
    font-family: Century;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: -0.242px;
    margin-top: 16.83px;
  }

  .description {
    color: $black;
    text-align: center;
    font-family: Cormorant Garamond;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 25.6px;
    letter-spacing: -0.176px;
    margin-top: 16px;
  }

  .address {
    color: $black;
    text-align: center;
    font-family: Century;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.176px;
    margin-top: 24px;
  }

  .telephone-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 24px;

    .telephone {
      color: $standardBlack;
      text-align: center;
      font-family: Cormorant Garamond;
      font-size: 22px;
      font-style: normal;
      font-weight: 700;
      line-height: 35.2px;
      letter-spacing: -0.242px;
    }

    .telephone-number {
      color: $standardBlack;
      font-family: Cormorant Garamond;
      font-size: 22px;
      font-style: normal;
      font-weight: 500;
      line-height: 160%;
      letter-spacing: -0.242px;
    }
  }

  .working-time {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 24px;

    .working-time-header {
      color: $black;
      text-align: center;
      font-family: Cormorant Garamond;
      font-size: 22px;
      font-style: normal;
      font-weight: 700;
      line-height: 35.2px;
      letter-spacing: -0.242px;
    }

    .working-days {
      color: $black;
      font-family: Cormorant Garamond;
      font-size: 22px;
      font-style: normal;
      font-weight: 500;
      line-height: 160%;
      letter-spacing: -0.242px;
    }
  }

  .store-link {
    height: 51px;
    width: 100%;
    flex-shrink: 0;
    border-radius: 15px;
    border: 1.5px solid $lightGrey;
    background: linear-gradient(
      99deg,
      #fff0bf -10.68%,
      #efc990 18.14%,
      #fdd292 43.87%,
      rgba(240, 199, 73, 0.42) 81.17%,
      #d4af37 100%
    );
    box-shadow: 0px 0px 4.5px 0px $lightGrey;
    color: $black;
    font-family: Cormorant Garamond;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.275px;
    margin-top: 40px;
    cursor: pointer;
  }
}
