@import "../../style/colors.scss";

.add-to-cart-container {
  display: flex;
  align-items: center;
  margin-bottom: 36px;
  .heart-icon {
    margin-left: 16px;
  }
  .add-to-cart-button {
    width: 155px;
    height: 41px;
    font-size: 15px;
    padding: 5px;
    border-radius: 12px;
    border: 1.213px solid $lightGrey;
    background: $ribonPink;
    box-shadow: 0px 0px 3.638px 0px $lightGrey;
  }
}
