@import "../../style/colors.scss";

.question-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 17px;

  &.even {
    background-color: $white;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 5%;
      width: 90%;
      border-top: 1px solid lightgray;
    }
  }

  .question {
    color: #8a8328;
    font-family: Cormorant Infant;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.176px;
    width: 263px;
  }
  .answer {
    color: $black;
    font-family: Cormorant Garamond;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -0.176px;
    width: 263px;
  }
}
