@import "../../style/colors.scss";

.marquee {
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  align-items: center;
  background: $lightRibonPink;
  border-top: 1px solid $standardBlack;
  border-bottom: 1px solid $standardBlack;

  .loop {
    padding-left: 100%;
    animation: marquee 5s linear infinite;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: $standardBlack;
    text-align: center;
    font-family: Cormorant Infant;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.231px;
  }
  .winter-collection {
    color: $pincGreen;
    text-align: center;
    font-family: Cormorant Infant;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.231px;
  }
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
