@import "../../style/colors.scss";

.expanding-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 4px;
  border: 0.4px solid $lightGrey;
  background: $white;
  box-shadow: 0px 0px 1.2px 0px $lightGrey;
  min-height: 100px;
  padding: 20px;
  margin-bottom: 16px;
  &:last-child {
    margin-bottom: 0;
  }
  .toggle-btn {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .box-header {
      color: $fancyOlive;
      font-family: Cormorant Infant;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: -0.176px;
    }
  }
  .expanded-content {
    color: $darkGrey;
    font-family: Cormorant Garamond;
    font-size: 8.333px;
    font-style: normal;
    font-weight: 500;
    line-height: 12.5px;
    letter-spacing: -0.092px;
  }
}
