$black: #232221;
$standardBlack: #000;
$standardWhite: #fff;
$lightGrey: #c2c2c2;
$ribonPink: #ffdbdb;
$darkGrey: #666560;
$lightRibonPink: #fff6f6;
$borderGrey: #a9a9a9;
$redAlert: #ff5b29;
$white: #fdfdfd;
$fancyOlive: #8a8328;
$pincGreen: #504e21;
