@import "../../style/colors.scss";

.sparks-heading {
  display: flex;
  align-items: center;
  margin-bottom: 30px;

  img {
    width: 53.202px;
    height: 52.655px;
    flex-shrink: 0;

    margin-right: 10px;
  }
  .text-heading {
    color: $black;
    font-family: Century;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.242px;
  }
}
.form-to-order {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: $standardBlack;
  font-family: "Cormorant Infant", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.22px;
}
.success-modal {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: transparent;
  font-family: "Cormorant Infant", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.22px;
  margin-bottom: 8px;
}
.contact {
  flex-direction: row-reverse;
}
