@import "../../style/colors.scss";

.copyright {
  color: $black;
  text-align: center;
  font-family: Cormorant Garamond;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.132px;
  margin-top: 8px;
  margin-bottom: 26px;
}
