@import "../../style/colors.scss";

.main-links {
  margin-top: 18.57px;
  margin-bottom: 32px;
  width: 100%;
}
.breadcrumb-list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
  .breadcrumb-link {
    display: flex;
    align-items: center;
    margin-left: 2px;
    .link-to-breadcrumb {
      text-decoration: none;
      color: $standardBlack;
      text-align: center;
      font-family: Cormorant Garamond;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%;
      letter-spacing: -0.176px;
      &::first-letter {
        text-transform: capitalize;
      }
    }
    .breadcrum-arrow {
      width: 14px;
      height: 14px;
      flex-shrink: 0;
    }
  }
}
