@import "../../style/colors.scss";

.about-us {
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 48.72px;

  .story-and-work {
    color: $pincGreen;
    font-family: Cormorant Infant;
    font-size: 12px;
    font-style: italic;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: -0.132px;
    width: 300px;
    height: 29.048px;
    flex-shrink: 0;
    border-radius: 8.571px;
    border: 0.857px solid $lightGrey;
    background: $lightRibonPink;
    box-shadow: 0px 0px 2.57143px 0px $lightGrey;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 32.32px;
    cursor: pointer;

    .between {
      font-style: normal;
      font-size: x-large;
      color: $pincGreen;
    }

    .story {
      margin-left: auto;
      margin-right: auto;
    }

    .work {
      margin-left: auto;
      margin-right: auto;
    }
  }
}
